{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h2 class="text-white my-5" >My Home Page :</h2>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 front-weight-bold">This is Blog Title For Success.</h1>
            <p class="lead">"The secret of your success is determined by your daily agenda."
                "However difficult life may seem, there is always something you can do and succeed at."
                "Your positive action combined with positive thinking results in success." </p>
        </div>
    </div>
</div>
{% endblock content %}